@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lemonada|Lobster+Two|Montserrat|Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

   body {
      font-family: 'Nunito';
   }
      /* Version Mobile */
      .Jumbotron {
         margin-top: 50px;
      }

      .image {
         display: flex;
         justify-content: center;
         align-items: center;
         margin-top: 20%;
      }
   
      .myFoto {
         width: 45%;
         border-radius: 50%;
         box-shadow: 0px 0 10px 1px rgb(198, 52, 228);
         position: relative;
      }

      .icon {
         text-align: center;
         margin-top: 10px;
      }

      .icon a {
         margin-right: 10px;
      }

   .hello { 
      font-size: 19px;
      text-transform: uppercase;
      font-weight: bold;
      text-align: center;
  }

  .name {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 600;
    text-transform: uppercase;
  }

  .koma {
    font-size: 50px;
    position: relative;
    color: #1641ff;
    top: 5px;
  }

  .hireMe {
    opacity: .9;
    margin: auto;
    display: block;
    font-family: 'Nunito';
    width: 25%;
    margin-top: 1em;
    padding: 5px 10px !important;
    border-radius: 30px;
    text-align: center;
    border: 2px solid #1641ff;
    color: #1641ff;
    text-decoration: none !important;
    font-weight: 600;
    transition: all .3s ease;
    box-shadow: -1px 14px 12px -12px rgb(198, 52, 228);
  }
  
  .hireMe:hover {
    background-color: #1641ff;
    color: white;
    transform: scale(1.1) !important;
  }

  .caption {
    margin-top: 12px;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 600;
  }

  .titik {
    font-size: 40px !important;
    margin-top: -16px;
    font-size: 30px;
    color: #1641ff;
  }

  .caption2 {
    font-size: 12px;
    font-weight: 600;
    margin-top: -20px;
  }

  .data {
     margin-top: 0px;
  }


  @media (min-width: 992px) {
     /*Jumbotron*/
   .Jumbotron {
      margin-top: 20px;
   }

   .navbar-nav a {
      font-family: 'Poppins';
   }

   .image {
      width: 600px;
      height: 600px;
   }
   .image div {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      width: 60%;
      height: 40%;
      background-color: rgb(198, 52, 228);
      top: 20%;
      left: 100px;
      border-radius: 50%;
   }

   .myFoto {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      top: -12%;
      left: -5%;
      width: 45%;
      border-radius: 50%;
      box-shadow: 0px 0 10px 1px rgb(198, 52, 228);
   }

   .borderRight {
      position: absolute;
      border-radius: 20px;
      left: 150px;
      top: 30%;
      width: 5px;
      background-color: #1641ff;
      height: 200px;
      clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
   }

   .icon {
      margin-top: 120%;
   }
   
   .icon a {
      position: relative;
      left: 100px;
      text-decoration: none;
      margin-bottom: 20px;
      display: block;
      width: 25px;
      border-radius: 20px;
      color: #1641ff;
   }

   .icon i {
      text-align: center;
      border-radius: 20px;
      font-weight: 100;
   }

  .hello { 
      font-size: 40px;
      text-transform: uppercase;
      font-weight: 400;
  }

  .name {
    font-size: 45px;
    text-transform: uppercase;
    font-weight: 600;
    text-transform: uppercase;
  }

  .koma {
    font-size: 90px;
    position: relative;
    color: #1641ff;
    top: 5px;
  }

  .hireMe {
    opacity: .9;
    margin: auto;
    display: block;
    font-family: 'Nunito';
    width: 20%;
    margin-top: 1em;
    padding: 5px 10px !important;
    border-radius: 30px;
    text-align: center;
    border: 2px solid #1641ff;
    color: #1641ff;
    text-decoration: none !important;
    font-weight: 600;
    transition: all .3s ease;
    box-shadow: -1px 14px 12px -12px rgb(198, 52, 228);
  }
  
  .hireMe:hover {
    background-color: #1641ff;
    color: white;
    transform: scale(1.1) !important;
  }

  .caption {
    margin-top: 12px;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 600;
  }

  .titik {
    font-size: 30px;
    color: #1641ff;
  }

  .caption2 {
    font-size: 16px;
    font-weight: 600;
    margin-top: -20px;
  }

  .data {
     margin-top: 150px !important;
  }
  /* Akhir Jumbotron */
  }

  @media (min-width: 770px) and (max-width: 992px) {
   .image {
      width: 600px;
      height: 600px;
   }
   .image div {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      width: 60%;
      height: 40%;
      background-color: rgb(198, 52, 228);
      top: 20%;
      left: 100px;
      border-radius: 50%;
   }

   .myFoto {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      top: -12%;
      left: -5%;
      width: 45%;
      border-radius: 50%;
      box-shadow: 0px 0 10px 1px rgb(198, 52, 228);
   }
   
   .borderRight {
      width: 200px;
      height: 4px;
      border-radius: 20px;
      background-color: #1641ff;
      margin: auto;
      position: relative;
      top: 50%;
      clip-path: polygon(0 45%, 100% 0, 100% 100%);
      }

   .hireMe {
    opacity: .9;
    margin: auto;
    display: block;
    font-family: 'Nunito';
    width: 15%;
    margin-top: 1em;
    padding: 5px 10px !important;
    border-radius: 30px;
    text-align: center;
    border: 2px solid #1641ff;
    color: #1641ff;
    text-decoration: none !important;
    font-weight: 600;
    transition: all .3s ease;
    box-shadow: -1px 14px 12px -12px rgb(198, 52, 228);
  }

      .icon {
         margin-left: 25px;
      }

      .icon a {
         position: relative;
         top: 300px;
         margin: auto;
         margin-right: 15px;
      }

   .data {
     margin-top: -150px;
   }
   
   .caption2 {
      font-size: 15px;
      font-weight: 600;
      margin-top: -20px;
   }
  }

 /* Navbar */
 @import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
         @import url('https://fonts.googleapis.com/css?family=Lemonada|Lobster+Two|Montserrat|Roboto+Mono&display=swap');
         @import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
      body {
         font-family: 'Poppins', sans-serif;
      }

   /* Version Mobile */


   .navbar {
      background-image: linear-gradient(120deg, #b721ff 0%, #1641ff 100%);
      box-shadow: 0 0 5px #111;
      height: 70px;
      transition: 1s;
   }

   .navbar-nav a {
      color: #fff !important;
   }

    .navbar-brand {
         font-family: 'Lobster Two', cursive;
         font-size: 36px;
         color: white !important;
         position: relative;
         transition: all .5s ease;
      }
   
      .navbar-toggler {
         border: none;
      }

      button.navbar-toggler:focus {
         box-shadow: none;
         outline: none;
      }

      .icon-bar1, .icon-bar2, .icon-bar3 {
         display: flex;
         justify-content: center;
         align-items: center;
         width: 29px;
         height: 2px;
         margin: 6px 0;
         background-color: white !important;
         transition: all .4s;
      }

      /* body {
         
      } */

      .active {
         background-color: rgba(0, 0, 0, 0.1);
         /* background-color: #1641ff; */
      }

      .change .icon-bar1 {
         background: transparent;
         opacity: 0;
         transition: .4s;
      }

       .change .icon-bar2 {
         -webkit-transform: translate(0%, 100%) rotate(45deg);
         transform: translate(0%, 100%) rotate(45deg);
         transition: .4s;
      }

      .change .icon-bar3 {
         /* transform: rotate(45deg); */
         -webkit-transform: translate(0%, -6px) rotate(-45deg);
         transform: translate(0%, -6px) rotate(-45deg);
         transition: .4s;
      }

      .navbar-nav {
         /* margin-top: -5px; */
         text-align: center;
         background-image: linear-gradient(120deg, #b721ff 0%, #1641ff 100%);
         color: #fff !important;
         font-weight: 400;
         border-radius: 4px;

      }

      .nav-link:hover::after {
        content: '';
        display: block;
        width: 5%;
        border-bottom: 2px dotted #fff;
        margin: auto;
        /* margin-left: 100px; */
        /* padding-bottom: 5px; */
        /* margin-bottom: -10px !important; */
      }

   @media (min-width: 770px) and (max-width: 992px) {
      .nav-link:hover::after {
         content: '';
         display: block;
         width: 3%;
         border-bottom: 2px dotted white;
         margin: auto;
         /* padding-bottom: 5px; */
         /* margin-bottom: -8px; */
       }
   }   

   /* Version Desktop Navbar */
   @media (min-width: 992px) {
      .navbar-nav {
         background: none;
      }

      .navbar-nav a {
         font-size: 16px;
         text-align: center;
         margin-right: 30px;
         font-weight: 400;
         color: #fff !important;
         transition: all 1s ease;
      }
      .nav-link:hover::after {
        content: '';
        display: block;
        width: 40%;
        border-bottom: 2px dotted white;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -8px;
      }

      .navbar-brand {
         font-family: 'Lobster Two', cursive;
         font-size: 36px;
         color: white !important;
         position: absolute;
         transition: all .5s ease;
      }

      .navbar-brand:hover {
         transform: scale(1.6);
         color: white !important;
      }

      .animation {
        transform: scale();
        transition: .5s;
        background: #1641ff;
      }

      /* .active{
         opacity: 1;
      }

      .active::after {
         content: '';
         font-family: 'Nunito';
         width: 1.5%;
         position: absolute;
         border-bottom: 3px dotted white;
         display: flex;
         top: 50px;
         left: 860px;
         font-size: 25px;
         color: #fff !important;
      } */
   }    
  

